[submodule "ext/tpt"]
	path = ext/tpt
	url = https://github.com/jwbuurlage/TPT.git
[submodule "ext/cgal"]
	path = ext/cgal
	url = https://github.com/CGAL/cgal.git
[submodule "ext/bulk"]
	path = ext/bulk
	url = https://github.com/jwbuurlage/Bulk.git
[submodule "ext/astra"]
	path = ext/astra
	url = https://github.com/astra-toolbox/astra-toolbox.git
